* {
  padding: 0;
  margin: 0;
}
body {
  color: #333;
  font-size: 14px;
}

$--theme-color:#409eff;
$--theme-color-hover:#78BBFA;

.link {
  cursor: pointer;
  color: $--theme-color!important;
  &:hover {
    color:$--theme-color-hover!important;
    text-decoration: underline;
  }
}

.icon-link {
  cursor: pointer;
  color: $--theme-color!important;
  &:hover {
    color:$--theme-color-hover!important;
  }
}

.theme-color {
  color: $--theme-color!important;
}

.line {
  background-color: #ebebeb;
  height: 1px;
}

.cursor {
  cursor: pointer;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.self-baseline {
  align-self: baseline;
}

.self-stretch {
  align-self: stretch;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.grow {
  flex-grow: 1;
}

.grow-0 {
  flex-grow: 0;
}

.shrink {
  flex-shrink: 1;
}

.shrink-0 {
  flex-shrink: 0;
}

.relative {
  position: relative;
}

.fw-500 {
  font-weight: 500;
}


